@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}

/* =-=-=-=-= Menu =-=-=-=-= */

header {
    width: 75%;
    margin: auto;
    padding: 18px;
}

header .menu {
    float: right;
    margin-top: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

/* =-=-=-=-= content width =-=-=-=-= */

main {
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
}

/* =-=-=-=-= index =-=-=-=-= */

/* =-=-=-=-= Banner =-=-=-=-= */

.banner {
    background-color: #fbdfdb;
    height: 375px;
    border-radius: 25px;
    padding: 32px;
    overflow: hidden;
    margin-bottom: 32px;
}

.text {
    float: left;
    width: 50%;
    height: 100%;
    padding: 42px;
}

.text h2 {
    font-size: 32px;
    margin-top: 10%;
}

.text p {
    font-size: 18px;
    line-height: 25px;
    width: 90%;
}

.banner img {
    height: 100%;
    position: relative;
    bottom: -30px;
    left: 15%;
}

/* =-=-=-=-= Mais acessados =-=-=-=-= */

.most-accessed h2{
    max-width: 100%;
    margin-bottom: 18px;
}

.item {
    display: inline-block;
    width: 33%;
    line-height: 32px;
}

.item img {
    width: 97%;
    border-radius: 12px;
     
}

.move {
    transform: translateX(5px);
}

.move2 {
    transform: translateX(10px);
}

.recipe-name {
    font-size: 18px;
}

.author {
    font-size: 14px;
    color: #777777;
    transform: translateY(-10px); 
    margin-bottom: 10px;
}

/* =-=-=-=-= Footer =-=-=-=-= */

footer {
    background-color: #EEEEEE;
    height: 52px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    color: #999999;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* =-=-=-=-= About =-=-=-=-= */

.infos {
    padding: 18px;
    text-align: justify;
}

.infos h2{
    font-size: 24px;
    color: #111111;
    margin-bottom: 28px;
}

.infos p {
    font-size: 18px;
    color: 18px;
    margin-bottom: 28px;
}

/* =-=-=-=-= Recipes =-=-=-=-= */

