@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
}

body {
    background-color: #ebebeb;
}

header {
    background-color: #2C3E50;
    padding: 32px;
}

.smaller {
    max-width: 75%;
    margin: 0 auto;
}

nav h2 {
    font-size: 32px;
    text-transform: uppercase;
}

.menu {
    float: right;
    transform: translateY(-100%);
}

.menu a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    transition: 400ms;
}

.menu a:hover {
    color:  #2f8d76;
}

/* =-=-=-=-= Portfolio =-=-=-=-= */

section {
    text-align: center;
}

section h2 {
    color: #2C3E50;
    font-size: 48px;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: 600;
}

section p {
    color: #2C3E50;
    font-size: 48px;
    text-transform: uppercase;
}

.content img{
    width: 33%;
    padding: 8px;
    border-radius: 24px;
}

.content img:hover {
    cursor: pointer;
}

