@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
}

body {
    background-color: #3EBD9D;
}

header {
    background-color: #2C3E50;
    padding: 32px;
}

.smaller {
    max-width: 60%;
    margin: 0 auto;
}

nav h2 {
    font-size: 32px;
    text-transform: uppercase;
}

.menu {
    float: right;
    transform: translateY(-100%);
}

.menu a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    transition: 400ms;
}

.menu a:hover {
    color:  #2f8d76;
}

/* =-=-=-=-= Portfolio =-=-=-=-= */

section {
    text-align: center;
    padding-top: 25px;
    height: 100vh;
}

section h2 {
    color: #ffffff;
    font-size: 48px;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: 600;
}

.division {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text01 {
    width: 40%;
    font-size: 24px;
    display: inline-block;
    text-align: justify;
    margin-right: 32px;
}

.text02 {
    width: 40%;
    font-size: 24px;
    display: inline-block;
    text-align: justify;
}